
<html><body> 

<header class="header">

    <a href="#"><img class="header__logo" src="/src/assets/images/comunitat-valenciana.png" alt="Logo"></a>

    <nav class="header__navbar"><!-- Hack Para Desplegar el Menú activando un checkbox -->
        <input type="checkbox" class="checkbox" id="menu-toogle"/>
        <label for="menu-toogle" class="menu-toogle"></label>
        <nav class="nav">
          <a href="#" class="nav__item current">Arquitectura <i class="fa-solid fa-arrow-right-long"></i></a>
          <a href="#" class="nav__item">Innovación <i class="fa-solid fa-arrow-right-long"></i></a>
          <a href="#" class="nav__item">Arte e Historia <i class="fa-solid fa-arrow-right-long"></i></a>
          <a href="#" class="nav__item">Gastronomía <i class="fa-solid fa-arrow-right-long"></i></a>
          <a href="#" class="nav__item">Sol y deporte <i class="fa-solid fa-arrow-right-long"></i></a>
        </nav>

        <ul class="header__navbar__list">
            <li class="header__navbar__item"><a href="#container__row__uno">Arquitectura</a></li>
            <li class="header__navbar__item"><a href="#container__row__dos">Innovación </a></li>
            <li class="header__navbar__item"><a href="#container__row__tres">Arte e Historia </a></li>
            <li class="header__navbar__item"><a href="#container__row__cuatro">Gastronomía </a></li>
            <li class="header__navbar__item"><a href="#container__row__cuatro">Sol y deporte </a></li>
        </ul>

    </nav>


    
<scrip src="script.js"></scrip>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script> </body> </html>
</header>